NODE_ENV=DEV

PORT=8080
FRONTEND_PORT=8081
PAGE_LIMIT=20

JWT_SECRET=dummy_secret_for_local_dev_and_ci

REDIS_PASSWORD=rootpassword
REDIS_URL=redis://:rootpassword@localhost:6379
CACHE_TTL=60

MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=rootpassword
MONGO_URL=mongodb://root:rootpassword@localhost:27017/myapi?authSource=admin

GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_REDIRECT_URI=http://localhost:8081/auth/google/callback
FRONTEND_URL=http://localhost:8081